<div class="fullcover_div" style="display:inherit">
    <div class="fcd_white">
        <div class="tl_right loginclose"><img src="@Url.Content("~/images/close.jpg")" width="31" height="29" alt=""></div>
        <div class="fcd_login_box2" style="text-align:center;font-family:UbuntuMedium;color: #eb1c24;margin-bottom: 25px;font-weight: normal;">
            <h2>Payment Error Message</h2>
        </div>
        <div class="fcd_login_nomember_container">
        </div>
        <div class="clear"></div>
    </div>
</div>
