@{
    ViewBag.Title = "Booking Interruption";

    if (ViewBag.PushMsg == null)
    {
        ViewBag.PushMsg = "There have some unexpected error during placing booking, please try again later." + "<br>" +
                        $"Credit & wallet will be hold first</b>." + "<br>" +
                        $"Please check your booking list after 15 minutes.";
    }
}

<!-- MAIN CONTENT PORTION START -->
<div class="registration_page_container">
    <div class="rpc_inner">
        <h2>Booking Interruption</h2>
        <div class="member_fp_text mem_text_center">
            @Html.Raw(ViewBag.PushMsg)
        </div>

        <div class="mem_text_center">
            @*<button type="button" class="s5_pl_button mt20 add-cursor-pointer" style="width:50%"
                    onclick="window.location = '@Url.Action("Login", "Account")'">
                Proceed to login
            </button>*@
        </div>

    </div>
</div>
<!-- MAIN CONTENT PORTION END -->
