@{
    ViewBag.Title = "Server Error";
    bool isEnableCMS = Alphareds.Module.Common.Core.EnableCMS;
}

<!-- MID CONTENT AREA START -->
<div class="s2_main_container">
    <div class="s2_mc_border_conainer" style="background: #fff">
        <div style="min-height: 360px;width: 100%;margin: 2em 0px;display: table;text-align: center;">
            <div style="display: table-cell;vertical-align: middle;text-align:center;">
                <div><img src="@Url.Content("~/images/ops.jpg")" width="87" height="118" alt=""></div>
                <h2 style="color:#be2e30">OOPS!</h2>
                <div class="member_fp_text" style="color:#616161;display:inline-block">
                    <div style="font-size:1.3em">Looks like there's a glitch in the system. Try finding your way back?</div>
                    <div style="margin: 2em 0"></div>
                </div>
                @if (!isEnableCMS)
                {
                    <div class="redbacktohome_button"><a href="@Url.Action("Index", "Home")" style="padding: 8% 17%;">Back to Homepage</a></div>
                }
                else
                {
                    <div class="redbacktohome_button">
                        <a href='@Url.Action("RedirectAndPOST", "DynamicFormPostSurface", new { destinationUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["AlphaReds.CMSUrl"], type = "MenuTransfer" })'
                           style="padding: 8% 17%;">
                            Back to Homepage
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- MID CONTENT AREA END -->