<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MayFlowerEntities" providerName="System.Data.SqlClient" connectionString="Data Source=(local)\SQLFULL;Initial Catalog=MayFlower;Persist Security Info=True;User ID=sa;Password=mts" />
    <add name="MayFlower" connectionString="metadata=res://*/Database.Mayflower.csdl|res://*/Database.Mayflower.ssdl|res://*/Database.Mayflower.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLFULL;initial Catalog=MayFlower;user id=sa;password=mts;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MayFlowerLocal" connectionString="metadata=res://*/Models.Database.MayflowerLocal.csdl|res://*/Models.Database.MayflowerLocal.ssdl|res://*/Models.Database.MayflowerLocal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLFULL;initial Catalog=MayFlower;user id=sa;password=mts;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="HostURL" value="https://book.mayflower.com.my" />
    <add key="PDFEngineAccount" value="mayflower" />
    <add key="PDFEnginePassword" value="mayflower" />
    <add key="AdminEmail" value="chtan@alphareds.net;ytchin@alphareds.net;" />
    <add key="ForStaging" value="true" />
    <add key="RequeryAfterSecond" value="300" />
    <add key="TakeBookingPaymentAfterSecond" value="1500" />
    <!--START: Payment Gateway iPay -->
    <add key="iPay88AppId" value="2" />
    <add key="iPay88Testing" value="false" />
    <add key="iPay88CCAuthCapture" value="false" />
    <add key="iPay88POSTURL" value="http://52.220.18.122/iPay88/iPay88_requestpayment.ashx" />
    <add key="iPay88CapturePaymentURL" value="http://52.220.18.122/iPay88/iPay88_capturepayment.ashx " />
    <add key="iPay88VoidPaymentURL" value="http://52.220.18.122/iPay88/iPay88_voidpayment.ashx " />
    <add key="iPay88RequeryURL" value="http://52.220.18.122/iPay88/iPay88_requerypaymentstatus.ashx " />
    <!--<add key="iPay88POSTURL" value="https://pay.mayflower.com.my/iPay88_requestpayment.ashx" />
    <add key="iPay88CapturePaymentURL" value="https://pay.mayflower.com.my/iPay88/iPay88_capturepayment.ashx " />
    <add key="iPay88VoidPaymentURL" value="https://pay.mayflower.com.my/iPay88/iPay88_voidpayment.ashx " />
    <add key="iPay88RequeryURL" value="https://pay.mayflower.com.my/iPay88_requerypaymentstatus.ashx" />-->
    <!--END: Payment Gateway iPay -->

    <!--<add key="InternalAppWebAPIUrl" value="http://13.229.35.199:28189/" />-->
    <add key="InternalAppWebAPIUrl" value="http://localhost:60886/" />
    <add key="InternalAppKey" value="XDlNh2zVYxOZTSZJgc3gMQXJ5SKsaQCu" />

    <add key="fromEmailAddress" value="noreply@mayflower-group.com" />
    <add key="smtpServer" value="172.16.13.14" />
    <add key="smtpUserName" value="" />
    <add key="smtpPassword" value="" />
    <add key="enableSsl" value="false" />
    <add key="smtpPort" value="25" />
    <add key="disableSendMail" value="false" />
    <add key="UseEmailQueue" value="true" />
    <add key="RequerySendPDF" value="true" />
    <add key="MayflowerRetailEmail" value="" />
    <add key="RequireHumanInterventionEmailStaging" value="onlinebookings@mayflower-group.com;alanchong@alphareds.net;kccheah@alphareds.com;chtan@alphareds.net" />
    <add key="RequireHumanInterventionEmailLive" value="onlinebookings@mayflower-group.com;alanchong@alphareds.net;kccheah@alphareds.com;chtan@alphareds.net" />
    <add key="MayflowerB2BRegNoticeEmail" value="wholesale.kul@mayflower-group.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>