@media only screen and (max-width: 1200px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 13px 12px;
    }

    .navbar-collapse .navbar-nav .navlogin .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 997px) {
    .navbar-collapse .navbar-nav .loginborder-right.navlogin .nav-link {
        padding-right: 0.5rem;
    }
}

@media only screen and (max-width: 991px) {
    .mob-header {
        height: 41px;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background: #fff;
        z-index: 999999;
        display: block;
    }

    .mob-header ul {
        display: inline-block;
        float: right;
    }

    .mob-header ul li {
        display: inline-block;
    }

    .mob-header ul li a {
        font-size: 13px;
        color: #ed1d27;
        font-weight: 700;
        padding: 11px 15px;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }

    .mob-header ul li:first-child a:before {
        content: '';
        position: absolute;
        top: 14px;
        right: -1px;
        height: 15px;
        width: 1px;
        background: #ed1d27;
    }

    .navbar {
        top: 40px;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .navlogin {
        display: none !important;
    }

    .mob-nav-nologin {
        height: 95px;
    }

    .navbar-collapse .navbar-nav .nav-item {
        border-bottom: 1px solid rgba(236, 32, 40, 0.54);
    }

    .navbar-collapse .navbar-nav .nav-link, .navbar-collapse .navbar-nav .nav-item .dropdown-item {
        color: #333;
    }

    .navbar-toggler:hover, .navbar-toggler:focus {
        border: none;
        outline: none;
    }

    .navbar .navbar-nav .active > .nav-link, .navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show, .navbar .navbar-nav .show > .nav-link {
        color: #ed1d27;
        border-bottom: 1px solid rgba(236, 32, 40, 0.54);
    }

    .navbar-collapse {
        height: 100% !important;
        min-height: 100vh;
        left: -110%;
        -ebkit-transition: left .2s;
        -moz-transition: left .2s;
        transition: left .2s;
        padding-bottom: 100px;
    }

    .collapse.show {
        left: -1px;
    }

    .navbar-light .navbar-nav .nav-link {
        padding: 8px 12px;
    }

    .navbar-light .dropdown-toggle::after {
        top: 13px;
    }

    .social-link a {
        font-size: 30px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .footer-top {
        background-position: 85% 0;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-mid .container {
        max-width: 95%;
    }

    .social-link {
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 575px) {
    .f-img img {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .footer-mid {
        padding-bottom: 24px;
        text-align: center;
    }

    .footer-mid-left ul {
        padding: 25px 0px;
    }

    .footer-list {
        margin-bottom: 25px;
        padding-left: 25px;
    }

    .footer-top {
        background-position: 75% 0;
        padding-top: 160px;
    }
}