footer .footer-wrapper {
  background-color: #fff; }

footer .container {
  max-width: 1170px; }

footer .footer-mid {
  padding: 20px 0px;
  background: #ec2028; }

footer .footer-center-list {
  padding-top: 15px; }

footer .footer-mid .col-sm-8 {
  width: 63%; }

.footer-social .social-link {
  padding-top: 0;
  padding-bottom: 14px; }

footer .f-img .f-img-file {
  width: 84px;
  height: 100px; }

footer .list-row .list-title {
  width: 12%;
  float: left; }

footer .list-row .list-content {
  width: 88%;
  float: left; }

footer .list-row .list-content-airline-pt,
footer .list-row .list-content-we-accept {
  width: 77%; }

footer .footer-center-list .list-row {
  width: 100%;
  padding: 10px 0;
  display: inline-block; }

footer .list-row .short-list-row-pt {
  display: inline-block;
  width: 40%;
  padding: 20px 0; }

footer .list-row .short-list-row-gp {
  display: inline-block;
  padding: 20px 0;
  width: 26%; }

footer .short-list-row-pt .list-title-pt {
  width: 20%;
  margin-top: 5px; }

footer .short-list-row-gp .list-title-gp {
  width: 46%;
  margin-top: 5px; }

footer .short-list-row .list-content {
  width: 71.5%; }

footer .list-title .list-title-text, footer .list-content .list-content-text,
footer .list-content .list-link, footer .list-content .list-link:hover,
footer .list-content .list-link:focus {
  color: #989898;
  font-size: 13px; }

/*footer .list-content .list-content-text, footer .list-content .list-link,
footer .list-content .list-link:hover, footer .list-content .list-link:focus {
    font-family: 'OpenSans Regular';
}*/
footer .list-title .list-title-text {
  font-family: 'SFPro Bold'; }

footer .list-content .list-content-text {
  display: inline-block; }

footer .list-row .footer-img {
  width: 56px;
  height: 30px; }

footer .list-row .footer-img-Chubb, footer .list-row .footer-img-GoAsiaPlus {
  width: 60px;
  height: 30px; }

footer .list-row .footer-img-Aforadio {
  width: 40px;
  height: 30px; }

footer .list-row .footer-img-link {
  display: inline-block;
  margin-right: 15px;
  width: 56px;
  height: 30px; }

footer .list-row .footer-img-link-Chubb,
footer .list-row .footer-img-link-GoAsiaPlus,
footer .list-row .footer-img-link-Aforadio {
  width: auto;
  height: auto; }

footer .list-row-airline-pt .footer-img-link,
footer .list-row-we-accept .footer-img-link {
  margin-bottom: 15px; }

footer .copyright {
  padding: 5px 0;
  text-align: center; }

.NewsLetter_class.col-sm-4 {
  padding-left: 25px;
  width: 37%; }

.NewsLetter_class.col-sm-4 .social-link {
  line-height: 20px; }

.NewsLetter_class.col-sm-4 .footer-social .social-top {
  padding-top: 0;
  float: left;
  margin: 10px 0;
  width: 100%; }

.NewsLetter_class.col-sm-4 .social-bottom {
  padding-top: 15px; }

.NewsLetter_class.col-sm-4 .social-link .follow_us_text {
  float: left;
  padding-right: 20px;
  margin-bottom: 0;
  line-height: 30px; }

.NewsLetter_class.col-sm-4 .social-link .link_text {
  float: left;
  padding-left: 10px;
  padding-right: 10px; }

.NewsLetter_class.col-sm-4 .social-link .fa-facebook,
.NewsLetter_class.col-sm-4 .social-link .fa-twitter,
.NewsLetter_class.col-sm-4 .social-link .fa-instagram {
  width: 36px;
  height: 36px;
  font-size: 30px; }

.NewsLetter_class.col-sm-4 .social-top .input-group {
  width: 95%; }

.NewsLetter_class.col-sm-4 .social-bottom .note_img {
  float: left; }

.NewsLetter_class.col-sm-4 .social-bottom .sign_up_text {
  width: 70%;
  display: inline-block;
  margin-bottom: 0;
  margin-left: 15px; }

@media only screen and (max-width: 1200px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 13px 12px; }
  .navbar-collapse .navbar-nav .navlogin .nav-link {
    padding-right: 1rem;
    padding-left: 1rem; } }

@media only screen and (max-width: 997px) {
  .navbar-collapse .navbar-nav .loginborder-right.navlogin .nav-link {
    padding-right: 0.5rem; } }

@media only screen and (max-width: 991px) {
  .mob-header {
    height: 41px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #fff;
    z-index: 999999;
    display: block; }
  .mob-header ul {
    display: inline-block;
    float: right; }
  .mob-header ul li {
    display: inline-block; }
  .mob-header ul li a {
    font-size: 13px;
    color: #ed1d27;
    font-weight: 700;
    padding: 11px 15px;
    display: inline-block;
    position: relative;
    text-decoration: none; }
  .mob-header ul li:first-child a:before {
    content: '';
    position: absolute;
    top: 14px;
    right: -1px;
    height: 15px;
    width: 1px;
    background: #ed1d27; }
  .navbar {
    top: 40px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030; }
  .navlogin {
    display: none !important; }
  .mob-nav-nologin {
    height: 95px; }
  .navbar-collapse .navbar-nav .nav-item {
    border-bottom: 1px solid rgba(236, 32, 40, 0.54); }
  .navbar-collapse .navbar-nav .nav-link, .navbar-collapse .navbar-nav .nav-item .dropdown-item {
    color: #333; }
  .navbar-toggler:hover, .navbar-toggler:focus {
    border: none;
    outline: none; }
  .navbar .navbar-nav .active > .nav-link, .navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show, .navbar .navbar-nav .show > .nav-link {
    color: #ed1d27;
    border-bottom: 1px solid rgba(236, 32, 40, 0.54); }
  .navbar-collapse {
    height: 100% !important;
    min-height: 100vh;
    left: -110%;
    -ebkit-transition: left .2s;
    -moz-transition: left .2s;
    transition: left .2s;
    padding-bottom: 100px; }
  .collapse.show {
    left: -1px; }
  .navbar-light .navbar-nav .nav-link {
    padding: 8px 12px; }
  .navbar-light .dropdown-toggle::after {
    top: 13px; }
  .social-link a {
    font-size: 30px;
    padding-left: 18px;
    padding-right: 18px; }
  .footer-top {
    background-position: 85% 0; } }

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-mid .container {
    max-width: 95%; }
  .social-link {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-evenly; } }

@media only screen and (max-width: 575px) {
  .f-img img {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .footer-mid {
    padding-bottom: 24px;
    text-align: center; }
  .footer-mid-left ul {
    padding: 25px 0px; }
  .footer-list {
    margin-bottom: 25px;
    padding-left: 25px; }
  .footer-top {
    background-position: 75% 0;
    padding-top: 160px; } }

@media screen and (max-width: 1200px) {
  footer .footer-mid .col-sm-8 {
    width: 59%;
    border-right: 1px solid #fff; }
  footer .footer-center-list .list-title {
    padding-right: 10px; }
  footer .short-list-row-gp .list-title-gp {
    margin-top: 0; }
  footer .short-list-row-gp .footer-img {
    margin-top: 2px; }
  .NewsLetter_class.col-sm-4 {
    width: 41%;
    border-left: none;
    padding-top: 40px; }
  footer .footer-img-link.footer-img-link-empty {
    display: none; } }

@media screen and (max-width: 1000px) {
  footer .list-row .short-list-row-pt {
    width: 60%; }
  footer .list-row .short-list-row-pt .list-title-pt {
    width: 26%; } }

@media screen and (max-width: 990px) {
  footer .f-img-file {
    width: 75.6px;
    height: 90px; }
  footer .footer-mid .col-sm-8 {
    width: 51%; }
  .NewsLetter_class.col-sm-4 {
    width: 49%; } }

@media screen and (max-width: 767px) {
  footer .footer-mid .col-sm-8 {
    width: 100%;
    border-right: none; }
  footer .list-row .short-list-row-pt {
    width: 50%; }
  footer .short-list-row-pt .list-title-pt {
    width: 27%; }
  footer .footer-mid-left .f-img {
    margin: 0 auto;
    display: inline-block; }
  footer .footer-mid-left .f-img-file:last-child {
    left: 0; }
  footer .footer-mid-left .f-img-file {
    float: left;
    width: 25%;
    height: 30%; }
  footer .list-row .short-list-row-pt {
    width: 60%; }
  .NewsLetter_class.col-sm-4 .social-link .link_text {
    float: left; }
  .NewsLetter_class.col-sm-4 {
    width: 100%;
    padding-top: 10px;
    margin: 0 auto; } }

@media screen and (max-width: 636px) {
  footer .footer-mid-left .why_mayflower_text {
    margin-left: auto;
    margin-right: auto; }
  footer .footer-mid-left .why_mayflower_text {
    width: 50%; }
  footer .footer-center-list .list-title {
    width: 22%; }
  footer .footer-center-list .list-content {
    width: 78%; }
  footer .list-row .short-list-row-gp {
    width: 40%; }
  footer .list-row .short-list-row-pt {
    width: 50%; }
  footer .list-row .short-list-row-gp .list-title-gp,
  footer .list-row .short-list-row-pt .list-title-pt {
    width: 100%; } }

@media screen and (max-width: 580px) {
  footer .short-list-row-pt .list-title-pt {
    margin: 0; }
  footer .list-row .short-list-row-gp,
  footer .list-row .short-list-row-pt {
    padding: 0;
    float: left; }
  footer .short-list-row-gp .footer-img {
    margin-top: 5px; } }

@media screen and (max-width: 410px) {
  footer .footer-mid-left .why_mayflower_text {
    width: 100%; }
  footer .list-row-airline-pt .footer-img-link,
  footer .list-row-we-accept .footer-img-link {
    width: 25%;
    display: block;
    float: left;
    margin-right: 0; }
  footer .list-row-airline-pt .list-title {
    width: 36%;
    margin-bottom: 5px; }
  footer .footer-img-link.footer-img-link-empty {
    display: none; }
  footer .list-row-airline-pt .list-content,
  footer .list-row-we-accept .list-content {
    width: 100%; } }

@media screen and (max-width: 380px) {
  footer .footer-center-list.container .list-title {
    width: 100%; }
  footer .footer-center-list .list-row {
    width: 100.4%; } }

@media screen and (max-width: 320px) {
  footer .list-row .short-list-row-gp {
    width: 50%; } }

