<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <log4net>
    <!--
  This writes the log information to the console window.  It only logs events
  that are at least at the INFO level (which would mean that DEBUG events are not
  captured.
  OFF - nothing gets logged (cannot be called)
FATAL
ERROR
WARN
INFO
DEBUG
ALL - everything gets logged (cannot be called)
  -->
    <appender name="RollingLogFileAppender1" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="Logs/" />
      <datePattern value="yyyyMMdd'_SabreFlightSearchHandler.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="-----------------------------------------------------------------------------------------------&#xD;&#xA;                           %newline%date [%thread] %level %logger - %message%newline%exception" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="RollingLogFileAppender2" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="../" />
      <datePattern value="yyyyMMdd'_SabreFlightSearchHandlerError.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="-----------------------------------------------------------------------------------------------&#xD;&#xA;                           %newline%date [%thread] %level %logger - %message%newline%exception%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="kevinkuan@alphareds.com,jhkuan1989@hotmail.com" />
      <!--comma seperated-->
      <from value="alphareds79@gmail.com" />
      <subject type="log4net.Util.PatternString" value="SabreFlightSearchHandler Error" />
      <smtpHost value="smtp.gmail.com" />
      <authentication value="Basic" />
      <port value="587" />
      <username value="alphareds79@gmail.com" />
      <password value="eldxfrqifylvgvfl" />
      <bufferSize value="1" />
      <EnableSsl value="true" />
      <lossy value="false" />
      <threshold value="DEBUG" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline%exception" />
      </layout>
    </appender>


    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender1" />
      <!--<appender-ref ref="RollingLogFileAppender2" />-->
    </root>
    <logger additivity="false" name="EmailLogger">
      <level value="DEBUG" />
      <appender-ref ref="SmtpAppender" />
    </logger>
  </log4net>
  <appSettings>
    <!--<add key="log4net.Internal.Debug" value="true" />-->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="InitUnobtrusiveInScriptManager" value="true" />
    <!--Add your custom key below here-->
    <add key="PageSize" value="10" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="smtpUserName" value="alphareds79@gmail.com" />
    <add key="smtpPassword" value="eldxfrqifylvgvfl" />
    <add key="enableSsl" value="true" />
    <add key="smtpPort" value="587" />
    <add key="disableSendMail" value="false" />
    <add key="UseEmailQueue" value="true" />
    <!--Staging-->
    <!--<add key="fromEmailAddress" value="noreply@smctravel.com" />-->
    <!--Testing purpose-->
    <add key="fromEmailAddress" value="alphareds79@gmail.com" />
    <add key="toAdminEmailAddress" value="winstonyap@alphareds.com" />
    <!--Local-->
    <add key="HostURL" value="http://localhost:52197" />
    <!--Dev server-->
    <!--<add key="HostURL" value="http://smctravel.azurewebsites.net" />-->
    <!--Win-Dev server-->
    <!--<add key="HostURL" value="http://47.88.156.59/SMCTravel-Sabre" />-->
    <!--Local-->
    <add key="SQLite" value="Data Source=D:\Workplace\SQLite\Mayflower.sqlite;Version=3;" />
    <!--Dev demo-->
    <!--<add key="SQLite" value="Data Source=C:\inetpub\wwwroot\Mayflower\SQLiteDB\Mayflower.sqlite;Version=3;" />-->
    <!--Dev test-->
    <!--<add key="SQLite" value="Data Source=C:\inetpub\wwwroot\Mayflower\SQLiteDB\SMCTest\Mayflower.sqlite;Version=3;" />-->
    <add key="sabreSignatureKey" value="123456" />
    <add key="TestFareChanged" value="false" />
    <add key="DayAdvance" value="2" />
    <add key="ShowChild" value="true" />
    <add key="ShowInfant" value="true" />
    <add key="AdminEmail" value="kevinkuan@alphareds.com;jhkuan1989@hotmail.com" />
    <add key="TokenValidateHour" value="24" />
    <add key="ShowSubmitCompanyPayment" value="true" />
    <add key="ShowSelectPaymentMethod" value="true" />
    <add key="TawkToAccount" value="https://embed.tawk.to/57b9a5b552bbe76938cfe4a1/default" />
    <!-- KC acc -->
    <add key="IsSabreLive" value="false" />
    <add key="iPay88AppId" value="2" />
    <add key="iPay88REQUERYURL" value="http://52.220.18.122/iPay88/iPay88_requerypaymentstatus.ashx " />
    <!--<add key="iPay88REQUERYURL" value="https://pay.mayflower.com.my/iPay88_requerypaymentstatus.ashx" />-->
    <add key="iPay88Testing" value="true" />
    <add key="PDFEngineAccount" value="mayflower" />
    <add key="PDFEnginePassword" value="mayflower" />
    <add key="MayflowerRetailEmail" value="retail@mayflower-group.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--START: Sabre Value -->
    <add key="SabreMaxStop" value="10" />
    <!--END: Sabre Value -->
    
    <!-- Handler specific setting Start-->
    <add key="BatchPerRun" value="15" />
    <add key="PauseDuration" value="10000" />
    <add key="ReportingEmail" value="ytchin@alphareds.net" />
    <add key="ReportingEmailCC" value="ytchin@alphareds.net" />
    <add key="ReportingEmailBCC" value="ytchin@alphareds.net" />
    <!-- Handler specific setting End-->
  </appSettings>
  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="tracer"
         type="System.Diagnostics.TextWriterTraceListener"
         initializeData="C:\\log4netlog\\log4net.log" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MayFlowerEntities" providerName="System.Data.SqlClient" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=SabrePriceSearch;Persist Security Info=True;User ID=sa;Password=msms123" />
    <add name="MayFlower" connectionString="metadata=res://*/Database.Mayflower.csdl|res://*/Database.Mayflower.ssdl|res://*/Database.Mayflower.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial Catalog=SabrePriceSearch;user id=sa;password=msms123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MayFlowerLocal" connectionString="metadata=res://*/Models.Database.MayflowerLocal.csdl|res://*/Models.Database.MayflowerLocal.ssdl|res://*/Models.Database.MayflowerLocal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial Catalog=SabrePriceSearch;user id=sa;password=msms123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Iwebservices" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="baicHttpPDFService" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://52.220.18.122/SabreWebServicesSearch/webservices.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwebservices" contract="SWS.Iwebservices" name="BasicHttpBinding_Iwebservices" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>