#time-range p {
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#333;
}
.ui-slider-horizontal {
    height: 8px;
    clear: both;
    margin: 8px 0;
	background-image:url(slider_line.jpg);
	background-repeat:repeat-x;
	background-position:left 3px;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
}
.ui-slider .ui-slider-range {
   
}
.ui-slider .ui-slider-handle {
    border-radius: 50%;
    width: 17px;
    height: 17px;
	background-color:#eb1c24;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    border: none;
    cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}
.ui-slider a:focus {
    outline:none;
}

#slider-range {
  width: 100%;
  margin: 0 auto;
}
#time-range {
  width: 400px;
}