@{
    ViewBag.Title = "Password Change Successful";
    ViewBag.RenderRedLine = true;
}

<!-- MAIN CONTENT PORTION START -->
<div class="registration_page_container">
    <div class="rpc_inner">
        <h2>Password Change Successful</h2>
        <div class="member_fp_text mem_text_center">
            Please remember your new password. Thank you!!
        </div>

        <br /><br /><br />
    </div>
    <div class="errsbutton_button"><a href="@Url.Action("Index", "Home")">Back to Homepage</a></div>
    <br />
</div>
<!-- MAIN CONTENT PORTION END -->
