@model Alphareds.Module.Model.PasswordResetModel

@{
    ViewBag.Title = "Reset Password";
    ViewBag.RenderRedLine = true;
}

@if (Request.IsAuthenticated)
{
    Response.Redirect("~/");
}

<style>
    @@media screen and (max-width : 900px) {
        .registration_page_container {
            margin-top: 0px;
            width: 100%;
        }

        .footer {
            margin-top: 0px;
        }
    }

    @@media screen and (max-width : 600px) {
        .footer_inner {
            margin-top: 0px;
        }
    }
</style>

<section class="container md-section">

    <div class="row">
        <div class="col-md-push-3 col-md-6 col-xs-12 yellow-bg" style="border-radius: 5px">

            @using (Html.BeginForm("ResetPassword", "Account"))
            {
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary()*@

                <!-- MAIN CONTENT PORTION START -->
                <div class="registration_page_container">
                    <div class="rpc_inner">

                        <h2>Oh, forgot your password ?</h2>
                        <div class="member_fp_text mem_text_center">Don't worry! just provide your email address below and we'll email details to reset your password.</div>

                        <div class="s3-1_cf_lable_text">Email address</div>
                        <div>@Html.TextBoxFor(model => model.Email, new { @class = "s3-1_full_textbox_com", @required = "true" })</div>  
                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "textforerrormsg" })
                        @Html.ValidationMessage("errmsg", null, new { @class = "textforerrormsg" })

                        <div class="mem_text_center">
                            <button type="submit" name="Reset" value="Password" class="dark-blue1 s5_pl_button mt20 add-cursor-pointer">Submit</button>
                        </div>

                    </div>
                </div>
                <!-- MAIN CONTENT PORTION END -->
            }
        </div>

    </div>
</section>
