@model Alphareds.Module.Model.LocalPasswordModel

@{
    ViewBag.Title = "Setup Password";
    ViewBag.RenderRedLine = true;
}


<!-- MAIN CONTENT PORTION START -->
<div class="registration_page_container">
    <div class="rpc_inner">
        <h2>Set a new password!</h2>
        <h3>Pleasse key in your new password below.</h3>
        @Html.Partial("_PasswordResetPartial")
    </div>
</div>
<!-- MAIN CONTENT PORTION END -->
