@{
    ViewBag.Title = "Password Resetted";
}

@if (Request.IsAuthenticated)
{
    Response.Redirect("~/");
}

<!-- MAIN CONTENT PORTION START -->
<div class="registration_page_container">
    <div class="rpc_inner">
        <h2>Congratulations!</h2>
        <div class="member_fp_text mem_text_center">
            You've successfully resetted your password.
            Now you may login with your new password.
        </div>

        <div class="mem_text_center">
            <button type="button" class="s5_pl_button mt20 add-cursor-pointer" style="width:50%"
                    onclick="window.location = '@Url.Action("Login", "Agent")'">
                Proceed to login
            </button>
        </div>

    </div>
</div>
<!-- MAIN CONTENT PORTION END -->