@{
    ViewBag.Title = "Manage Profile";
    ViewBag.RenderRedLine = true;
}

<style>
    .contact_heading{
        margin-bottom:10px;
        font-weight:bold;
    }
</style>

<!-- MAIN CONTENT PORTION START -->
<div class="member_profile_heading_container">
    <div class="mphc_t1">Agent Profile</div>
    <div class="mphc_t2">Welcome to Agent profile page. Make sure your details are always updated with us.</div>
</div>

@*<div class="myprofile_maincontainer">
    @Html.Action("AgentCardView", "Agent")
</div>*@

<div class="myprofile_maincontainer">
    @Html.Action("AgentCardView", "Agent")
</div>

@section scripts{
    <script>
        $(function () {
            /*detail tabs start*/
            $(".mpm_cc_icon1").click(function () {
                $(".mpm_cc_icon1").addClass("mpm_cc_icon1_active");
                $(".mpm_cc_icon2").removeClass("mpm_cc_icon2_active");
                $(".mpm_cc_icon3").removeClass("mpm_cc_icon3_active");

                $("#personaldetail").fadeIn();
                $("#contactdetail").hide();
                $("#companydetail").hide();
            });
            $(".mpm_cc_icon2").click(function () {
                $(".mpm_cc_icon2").addClass("mpm_cc_icon2_active");
                $(".mpm_cc_icon1").removeClass("mpm_cc_icon1_active");
                $(".mpm_cc_icon3").removeClass("mpm_cc_icon3_active");

                $("#personaldetail").hide();
                $("#contactdetail").fadeIn();
                $("#companydetail").hide();
            });
            $(".mpm_cc_icon3").click(function () {
                $(".mpm_cc_icon3").addClass("mpm_cc_icon3_active");
                $(".mpm_cc_icon1").removeClass("mpm_cc_icon1_active");
                $(".mpm_cc_icon2").removeClass("mpm_cc_icon2_active");

                $("#personaldetail").hide();
                $("#contactdetail").hide();
                $("#companydetail").fadeIn();
            });
            $(".mpj_personal_details").click(function () {
                $("#personaldetail").slideToggle();
                $(this).parent().toggleClass("mpg_mt_minus");
            })
            $(".mpj_contact_details").click(function () {
                $("#contactdetail").slideToggle();
                $(this).parent().toggleClass("mpg_mt_minus");
            })
            $(".mpj_company_details").click(function () {
                $("#companydetail").slideToggle();
                $(this).parent().toggleClass("mpg_mt_minus");
            })
            /*detail tabs end*/
        });
    </script>
}