@{
    ViewBag.Title = "Success Register";
    ViewBag.RenderRedLine = true;
}

<!-- MAIN CONTENT PORTION START -->
<div class="registration_page_container">
    <div class="rpc_inner">
        <h2>One more thing...</h2>
        <div class="member_fp_text mem_text_center">
            Thank you for registering with us.<br />
            Please look out for a verification email in your inbox to validate your account.
        </div>

        <br /><br /><br />

    </div>
</div>
<!-- MAIN CONTENT PORTION END -->
