@using Alphareds.Module.Model
@using Alphareds.Module.Common
@using Alphareds.Module.Model.Database
@model IGrouping<string, EventBooking>

@if (Model != null && Model.Key != null)
{
    <section class='flight-details clr fl' style='width: 100%'>
        <h3 class='heading-blue font-blue'>Wifi Details</h3>

        @foreach (var item in Model.GroupBy(x => x.EventProduct.EventDetail.EventMaster))
        {
            var eventMaster = item.Key;

            <div class='row subdetails clr'>
                <table cellpadding='0' cellspacing='0' border='0' class='details'>
                    <tbody>
                        <tr>
                            <td width='251'>Wifi</td>
                            <td width='2'>:</td>
                            <td>
                                &nbsp;@eventMaster.EventName
                            </td>
                        </tr>
                        <tr>
                            <td>Venue</td>
                            <td>:</td>
                            <td>
                                &nbsp;@eventMaster.VenueName
                                <br />
                                <p style='font-weight:normal'>&nbsp;@eventMaster.VenueAddress</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>:</td>
                            <td>
                                &nbsp;@item.First().EventProduct.TicketCategory.TicketCategory1 x @item.First().Qty
                            </td>
                        </tr>
                        @*<tr>
                            <td>Date</td>
                            <td>:</td>
                            <td>
                                @{ int totalDays = item.Count(); }
                                &nbsp;@RenderRentalDate(item) [@totalDays @(totalDays > 1 ? "Days" : "Day" )]
                            </td>
                        </tr>*@
                    </tbody>
                </table>
            </div>
        }
    </section>

}

@helper RenderRentalDate(IGrouping<EventMaster, EventBooking> grouping)
{
    @(grouping.Min(x => x.EventDate).ToString("dd MMMM yyyy")) @:- @(grouping.Max(x => x.EventDate).ToString("dd MMMM yyyy"))
}
