
<div id="loading-modal" class="fullcover_div4" style="display: none">
    <div class="fcd_white3_op" style="max-height: 260px;max-width: 400px;border-radius: 15px;width: 85%;margin: 0 auto;margin-top: 10%;">
        <div class="fcd_op_inner">
            <div style="margin-top:50px">
                <img src="@Url.Content("~/Images/mayflower_loading.gif")" width="120" alt="" />
            </div>
            @*<div class="fcd_op_text1" id="oops-msg">We are trying hard on this.<br>Please be patient ya.</div>*@
            <div class="fcd_op_text1" id="oops-msg" style="color:#808080">Loading......</div>
        </div>
    </div>
</div>