<div class="s3-1_fi_row1-right">
    <img src="@Url.Content("~/images/toll_tip.png")" width="16" height="15" alt="">
    <div class="s3-1_form_toll_tip">
        <div class="tt_top_form_y"><img src="@Url.Content("~/images/tt_top.png")" width="34" height="19" alt=""></div>
        <div class="s3-1_form_toll_tip_b">
            <div class="s3-1_fttp_redcolor s3-1_fttp_marbot">
                Name as per passport only:
            </div>
            <div class="s3-1_fttp_marbot">
                <span class="s3-1_fttp_redcolor">Sample 1: Mohammad Ali Bin Abdullah</span><br>
                First Name : Bin Adbullah<br>
                Last Name : Mohammad Ali<br>
            </div>
            <div class="s3-1_fttp_marbot">
                <span class="s3-1_fttp_redcolor">Sample 2: Janet Low Ying Ying</span><br>
                First Name : Ying Ying Janet<br>
                Last Name : Low<br>
            </div>
            <div class="s3-1_fttp_marbot">
                <span class="s3-1_fttp_redcolor">Sample 3: Nathan A/L Mogan</span><br>
                First Name : A/L Mogan<br>
                Last Name : Nathan<br>
            </div>
            <div class="s3-1_fttp_marbot">
                <span class="s3-1_fttp_redcolor">Sample 4: Jonathan</span><br>
                First Name : Jonathan<br>
                Last Name : Jonathan<br>
            </div>
            <div class="s3-1_fttp_redcolor s3-1_fttp_marbot">
                Not sure how to fill? Contact our customer service.
            </div>
        </div>
    </div>
</div>