
<div id="popup-modal" class='fullcover_div5 popup' style="display: none; overflow:auto">

    <div class="fcd_white3_op" style="height: initial">

        <div class="tl_right add-cursor-pointer modal-close"><img src="@Url.Content("~/images/close.jpg")" alt="" width="31" height="29"></div>
        <div class="fcd_op_inner modal-container" id="modal-container">

        </div>
        <div class="ars-spacer"></div>
    </div>

</div>