<div style="background:url(../../Images/txt_load.gif) center center no-repeat;">
    <iframe width="100%" height="450" frameborder="0" style="border:0"
            src="@(ViewData["MAP"] != null ? ViewData["MAP"].ToString() : "")" allowfullscreen></iframe>
</div>
