<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->

  <!-- smtpAuthentication value availaible
  Basic - Basic - username and password.
  None - No authentication.
  Ntlm - NTLM Authentication. 
  -->

  <!--
  <variable name="gmailUsername" value="${trim-whitespace:${file-contents:${basedir}/gmailtest/gmailusername.txt}}" />
  <variable name="gmailPassword" value="${trim-whitespace:${file-contents:${basedir}/gmailtest/gmailpassword.txt}}" />
  <variable name="smtpServer" value="smtp.gmail.com" />
  <variable name="smtpPort" value="587" />
  <variable name="enableSsl" value="true" />
  <variable name="smtpAuthentication" value="Basic" />
-->

  <variable name="gmailUsername" value="" />
  <variable name="gmailPassword" value="" />
  <variable name="smtpServer" value="172.16.13.14" />
  <variable name="smtpPort" value="25" />
  <variable name="enableSsl" value="false" />
  <variable name="smtpAuthentication" value="None" />
  <variable name="fromEmail" value="noreply@smctravel.com"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!-- local file logging -->
    <target name="file"
            xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}.log"
            archiveFileName="${basedir}/logs/archive.{#}.txt"
            maxArchiveFiles="10"
            archiveEvery="Month"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            concurrentWrites="true"
            layout="
            -------------- ${level} (${longdate}) --------------${newline}
            ${newline}
            Call Site: ${callsite}${newline}
            Exception Type: ${exception:format=Type}${newline}
            Exception Message: ${exception:format=Message}${newline}
            Stack Trace: ${exception:format=StackTrace}${newline}
            Additional Info: ${message}${newline}" />

    <target name="adminfile"
        xsi:type="File"
        fileName="${basedir}/Logs/ErrorBooking${shortdate}.log"
        archiveFileName="${basedir}/logs/archive.{#}.txt"
        maxArchiveFiles="10"
        archiveEvery="Month"
        archiveNumbering="Date"
        archiveDateFormat="yyyy-MM-dd"
        concurrentWrites="true"
        layout="
            ******************************************************
            ${newline}
            Call Site: ${callsite}${newline}
            Exception Type: ${exception:format=Type}${newline}
            Exception Message: ${exception:format=Message}${newline}
            Stack Trace: ${exception:format=StackTrace}${newline}
            Additional Info: ${message}" />

    <!-- send mail logging -->
    <target xsi:type="Mail"
            name="mail"
            smtpServer="${smtpServer}"
            smtpPort="${smtpPort}"
            enableSsl="${enableSsl}"
            smtpAuthentication="${smtpAuthentication}"
            smtpUserName="${gmailUsername}"
            smtpPassword="${gmailPassword}"
            from="${fromEmail}"
            to="ytchin@alphareds.net"
            cc="ytchin@alphareds.net"
            subject="Error Log - Mayflower"
            addNewLines="true"
            body="Layout"
            layout="
            ************** ${level} (${longdate}) **************${newline}
            ${newline}
            Call Site: ${callsite}${newline}
            Exception Type: ${exception:format=Type}${newline}
            Exception Message: ${exception:format=Message}${newline}
            Stack Trace: ${exception:format=StackTrace}${newline}
            Additional Info: ${message}${newline}" />

    <target xsi:type="Mail"
            name="adminmail"
            smtpServer="${smtpServer}"
            smtpPort="${smtpPort}"
            enableSsl="${enableSsl}"
            smtpAuthentication="${smtpAuthentication}"
            smtpUserName="${gmailUsername}"
            smtpPassword="${gmailPassword}"
            from="${fromEmail}"
            to="${gdc:item=adminEmail}"
            subject="Error booking process - ${gdc:item=UserID}"
            addNewLines="true"
            body="Layout"
            layout="
            ${newline}
            Call Site: ${callsite}${newline}
            Exception Type: ${exception:format=Type}${newline}
            Exception Message: ${exception:format=Message}${newline}
            Stack Trace: ${exception:format=StackTrace}${newline}
            Additional Info: ${message}"/>

    <target xsi:type="Mail"
            name="differentValueEmail"
            smtpServer="${smtpServer}"
            smtpPort="${smtpPort}"
            enableSsl="${enableSsl}"
            smtpAuthentication="${smtpAuthentication}"
            smtpUserName="${gmailUsername}"
            smtpPassword="${gmailPassword}"
            from="${fromEmail}"
            to="${gdc:item=adminEmail}"
            subject="Different value between db and web service"
            addNewLines="true"
            body="Layout"
            layout="
            ${newline}
            ${message}"
            />

    <target xsi:type="Mail"
        name="differentCorpIDAndTourCodeEmail"
        smtpServer="${smtpServer}"
        smtpPort="${smtpPort}"
        enableSsl="${enableSsl}"
        smtpAuthentication="${smtpAuthentication}"
        smtpUserName="${gmailUsername}"
        smtpPassword="${gmailPassword}"
        from="${fromEmail}"
        to="${gdc:item=adminEmail}"
        subject="${gdc:item=emailSubject}"
        addNewLines="true"
        body="Layout"
        layout="
            ${newline}
            ${message}"
            />


    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename. 
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="differentCorpAndTourCode" minlevel="Trace" writeTo="differentCorpIDAndTourCodeEmail" />
    <logger name="differentValue" minlevel="Trace" writeTo="differentValueEmail" />
    <logger name="*Home*" minlevel="Trace" writeTo="adminmail,adminfile" />
    <logger name="*FlightSearch*" minlevel="Trace" writeTo="adminmail,adminfile" />
    <logger name="*Booking*" minlevel="Trace" writeTo="adminmail,adminfile" />
    <!--<logger name="*Home*" minlevel="Trace" writeTo="adminfile" />
    <logger name="*FlightSearch*" minlevel="Trace" writeTo="adminfile" />
    <logger name="*Booking*" minlevel="Trace" writeTo="adminfile" />-->

    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="mail" />

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>