<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="MayFlowerEntities" providerName="System.Data.SqlClient" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=MayFlower;Persist Security Info=True;User ID=sa;Password=msms123" />
    <add name="MayFlower" connectionString="metadata=res://*/Database.Mayflower.csdl|res://*/Database.Mayflower.ssdl|res://*/Database.Mayflower.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial Catalog=MayFlower;user id=sa;password=msms123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MayFlowerLocal" connectionString="metadata=res://*/Models.Database.MayflowerLocal.csdl|res://*/Models.Database.MayflowerLocal.ssdl|res://*/Models.Database.MayflowerLocal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial Catalog=MayFlower;user id=sa;password=msms123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MySqlConnector" connectionString="server=momysql1.ca1obakogifx.ap-southeast-1.rds.amazonaws.com;user id=mayflowerloguser;password=#mayflowerloguser01];persistsecurityinfo=True;database=MayflowerLogs" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- START: TCGLight Production Endpoint -->
    <!--<add key="TCGLightSearch" value="http://ltcg.alphareds.net/TCG/light/Services/search.ashx?query=json"/>
    <add key="TCGLightVerify" value="http://ltcg.alphareds.net/TCG/light/Services/verify.ashx?query=json"/>
    <add key="TCGLightOrder" value="http://ltcg.alphareds.net/TCG/light/Services/order.ashx?query=json"/>
    <add key="TCGLightIssue" value="http://ltcg.alphareds.net/TCG/light/Services/issue.ashx?query=json"/>-->
    <!-- END: TCGLight Production Endpoint -->

    <!-- START: TCGLight Production Pre-Test Endpoint -->
    <!-- <add key="TCGLightSearch" value="http://ltcg.alphareds.net/Staging/light2/Services/search.ashx?query=json" />
    <add key="TCGLightVerify" value="http://ltcg.alphareds.net/Staging/light2/Services/verify.ashx?query=json" />
    <add key="TCGLightOrder" value="http://ltcg.alphareds.net/Staging/light2/Services/order.ashx?query=json" />
    <add key="TCGLightIssue" value="http://ltcg.alphareds.net/Staging/light2/Services/issue.ashx?query=json" /> -->
    <!-- END: TCGLight Production Pre-Test Endpoint -->

    <!-- START: TCGLight Staging Endpoint -->
    <add key="TCGLightSearch" value="http://ltcg.alphareds.net/Staging/light/Services/search.ashx?query=json" />
    <add key="TCGLightVerify" value="http://ltcg.alphareds.net/Staging/light/Services/verify.ashx?query=json" />
    <add key="TCGLightOrder" value="http://ltcg.alphareds.net/Staging/light/Services/order.ashx?query=json" />
    <add key="TCGLightIssue" value="http://ltcg.alphareds.net/Staging/light/Services/issue.ashx?query=json" />
    <!-- END: TCGLight Staging Endpoint -->

    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Add your custom key below here -->
    <add key="PageSize" value="10" />

    <!--Flight result per page-->
    <add key="FlightListPageSize" value="5" />

    <!-- smtp information -->
    <add key="smtpServer" value="172.16.13.14" />
    <add key="smtpUserName" value="" />
    <add key="smtpPassword" value="" />
    <add key="enableSsl" value="false" />
    <add key="smtpPort" value="25" />

    <add key="disableSendMail" value="true" />
    <add key="UseEmailQueue" value="true" />
    <add key="UseDBTemplate" value="true" />

    <!-- START: MODULE ENABLE/DISABLE -->
    <add key="EnableCMS" value="false" />
    <add key="EnableHotelCrossSales" value="true" />
    <add key="EnablePromoCode" value="true" />
    <add key="EnableB2B" value="true" />
    <add key="EnableAdyen" value="true" />
    <add key="EnableFlightInsurance" value="true" />
    <add key="EnableEventProduct" value="true" />
    <add key="TaapForceSuccess" value="false" />
    <!-- END: MODULE ENABLE/DISABLE -->

    <!-- Testing purpose -->
    <add key="fromEmailAddress" value="noreply@mayflower-group.com" />
    <add key="toAdminEmailAddress" value="winstonyap@alphareds.com" />

    <!-- Local -->
    <add key="HostURL" value="http://localhost:52197" />

    <!-- Sabre Request Header Signature -->
    <add key="sabreSignatureKey" value="123456" />

    <!-- SMC old value -->
    <add key="ShowChild" value="true" />
    <add key="ShowInfant" value="true" />
    <add key="TokenValidateHour" value="24" />
    <add key="ShowSubmitCompanyPayment" value="true" />
    <add key="ShowSelectPaymentMethod" value="true" />
    <add key="FixConvenienceFee" value="false" />

    <!-- Advance booking day -->
    <add key="DayAdvance" value="2" />

    <!-- Email to receive error log -->
    <add key="AdminEmail" value="ytchin@alphareds.net" />

    <add key="TawkToAccount" value="https://embed.tawk.to/57b9a5b552bbe76938cfe4a1/default" />

    <!-- Use ESBComFlight -->
    <add key="useFc" value="true" />

    <!-- KC acc -->
    <add key="IsSabreLive" value="false" />

    <!--START: Payment Gateway iPay -->
    <add key="iPay88Testing" value="true" />
    <add key="iPay88AppId" value="2" />
    <add key="iPay88POSTURL" value="http://52.220.18.122/iPay88/iPay88_requestpayment.ashx" />

    <add key="iPay88CCAuthCapture" value="true" />
    <add key="iPay88CapturePaymentURL" value="http://52.220.18.122/iPay88/iPay88_capturepayment.ashx " />
    <add key="iPay88VoidPaymentURL" value="http://52.220.18.122/iPay88/iPay88_voidpayment.ashx " />
    <add key="iPay88RequeryURL" value="http://52.220.18.122/iPay88/iPay88_requerypaymentstatus.ashx​ " />
    <!--END: Payment Gateway iPay -->

    <!-- START: Adyen Payment Gateway (Staging) -->
    <add key="AdyenAppId" value="2" />
    <add key="AdyenCCAuthCapture" value="true" />
    <add key="AdyenPOSTURL" value="http://52.220.18.122:8888/3dpay.ashx" />
    <add key="AdyenMethod2POSTURL" value="http://52.220.18.122:8888/payForm.ashx" />
    <add key="AdyenCapturePaymentURL" value="http://52.220.18.122:8888/capture.ashx" />
    <add key="AdyenVoidPaymentURL" value="http://52.220.18.122:8888/cancel.ashx" />
    <add key="AdyenRequeryURL" value="http://52.220.18.122:8888/requery.ashx  " />
    <add key="AdyenEncryption" value="https://test.adyen.com/hpp/cse/js/8215075190072030.shtml" />
    <add key="AdyenTesting" value="true" />
    <!--END: Adyen Payment Gateway (Staging) -->

    <!--START: Adyen Payment Gateway (pre-production) -->
    <!--<add key="AdyenAppId" value="2" />
    <add key="AdyenCCAuthCapture" value="true" />
    <add key="AdyenPOSTURL" value="https://pay.mayflower.com.my/cc/3dpay.ashx" />
    <add key="AdyenMethod2POSTURL" value="https://pay.mayflower.com.my/cc/payForm.ashx" />
    <add key="AdyenCapturePaymentURL" value="https://pay.mayflower.com.my/cc/capture.ashx" />
    <add key="AdyenVoidPaymentURL" value="https://pay.mayflower.com.my/cc/cancel.ashx" />
    <add key="AdyenRequeryURL" value="https://pay.mayflower.com.my/cc/requery.ashx" />
    <add key="AdyenEncryption" value="https://live.adyen.com/hpp/cse/js/1115180546140360.shtml" />
    <add key="AdyenTesting" value="true" />-->
    <!-- END: Adyen Payment Gateway (pre-production) -->
    
    <!-- START: Boost Payment Gateway (Staging) -->
    <add key="BoostAppId" value="2" />
    <add key="BoostRequestPaymentURL" value="http://52.220.18.122/Boost/Boost_requestpayment.ashx" />
    <add key="BoostVoidPaymentURL" value="http://52.220.18.122/Boost/Boost_voidpayment.ashx" />
    <add key="BoostRequeryURL" value="http://52.220.18.122/Boost/Boost_requery.ashx" />
    <add key="BoostTesting" value="true" />
    <!--END: Boost Payment Gateway (Staging) -->

    <add key="UseCustomJQueryValidation" value="false" />
    <add key="UseDumpResultList" value="false" />
    <add key="CloneDumpResultList" value="false" />

    <add key="PDFEngineAccount" value="mayflower" />
    <add key="PDFEnginePassword" value="mayflower" />
    <add key="ShowVerifyData" value="true" />
    <add key="ExpiryMinuteBooking" value="30" />
    <add key="MayflowerRetailEmail" value="" />
    <add key="MayflowerCSEmail" value="cs@mayflower-group.com" />

    <add key="RequireHumanInterventionEmailStaging" value="yennien.tay@mayflower-group.com;davidlee@alphareds.com;alanchong@alphareds.net;kccheah@alphareds.com;chtan@alphareds.net" />
    <add key="RequireHumanInterventionEmailLive" value="yennien.tay@mayflower-group.com;davidlee@alphareds.com;alanchong@alphareds.net;kccheah@alphareds.com;chtan@alphareds.net" />
    <add key="MayflowerB2BRegNoticeEmail" value="wholesale.kul@mayflower-group.com" />
    <add key="MayflowerB2BRegNoticeEmailStaging" value="squidy.yaw@mayflower-group.com;jeffreycheah@alphareds.com;thivinh.hoang@tanchonggroup.com" />

    <add key="EnableGoogleAnalytics" value="false" />
    <add key="ForStaging" value="true" />
    <add key="Apps.Environment" value="LocalDevelop" />
    <add key="RequerySendPDF" value="false" />

    <!--<add key="AlphaReds.CMSUrl" value="http://47.88.153.2:81" />-->
    <add key="AlphaReds.CMSUrl" value="http://localhost:49898" />

    <!-- For EmailTemplate Hash -->
    <add key="ActiveUrlFrontPart" value="/Member/SimpleActivateByEmailLink?" />
    <add key="MenuItemAPIUrl" value="http://13.229.35.199:8100/umbraco/Surface/HomePage/GetMenus" />

    <!-- START: Layout Configuration -->
    <add key="Layout.IsUseV2Layout" value="true" />
    <!-- END: Layout Configuration -->

    <!-- START: Sabre Value -->
    <add key="SabreMaxStop" value="10" />
    <!-- END: Sabre Value -->

    <!-- START: Price Yield Default Value -->
    <add key="PriceYieldActualYield" value="0" />
    <add key="PriceYieldActualYieldPricingType" value="PCT" />
    <add key="PriceYieldMarkUpDiscountPricing" value="0" />
    <add key="PriceYieldMarkUpPricingType" value="PCT" />
    <add key="PriceYieldPricingTickiting" value="E1FD" />
    <add key="PriceYieldQueueNo" value="400" />
    <add key="PriceYieldTicketingQueueNo" value="501" />
    <!--END: Price Yield Default Value -->

    <!-- START: Flight usage -->
    <add key="FlightRepaymentReadFromDB" value="false" />

    <!-- START : GATE Value -->
    <!-- START: GATE CHINA Login Info -->
    <add key="GateFareTypeChina" value="Chn" />
    <add key="GateUserIdChina" value="MYMAYFLW00001Q" />
    <add key="GatePwdChina" value="rg0b!frz" />
    <!-- END: GATE CHINA Login Info -->

    <!-- START: GATE INT Login Info -->
    <add key="GateFareTypeInt" value="INT" />
    <add key="GateUserIdInt" value="MYMAYFLW00002Y" />
    <add key="GatePwdInt" value="w!xgbi2x" />
    <!-- END: GATE INT Login Info -->

    <!-- START: GATE Payment Option -->
    <add key="GatePaymentPaymode" value="C_LIMIT" />
    <add key="GatePaymentType" value="CREDIT" />
    <!-- END: GATE Payment Option -->
    <!-- END : GATE Value -->

    <!-- START: AirAsia Option -->
    <add key="AAdaysAdvance" value="0" />
    <!-- END : AirAsia Option -->

    <!-- START: Firefly Staging Test Option -->
    <add key="IsFYLive" value="false" />
    <!-- END: Firefly Staging Test Option -->

    <add key="AirlineToForceAddOn" value="JL" />
    <!-- Separate by comma -->
    <!-- END: Flight usage -->

    <!-- START: Hotel usage -->
    <add key="RecordsPerPage" value="10" />
    <add key="PartnerID" value="4138CCFBA4DC4B91B3BD527D482BE9FB" />
    <!-- Trip Advisor -->
    <add key="GoogleMapID" value="AIzaSyD_6VdhU77Xsy_UJ8fLxivc2Pn9e8hQnUc" />
    <!-- Google map api key -->
    <add key="SearchSupplier.OverrideHotelSupplier" value="false" />
    <add key="SearchSupplier.B2B.Expedia" value="true" />
    <add key="SearchSupplier.B2B.Tourplan" value="false" />
    <add key="SearchSupplier.B2B.JacTravel" value="true" />
    <add key="SearchSupplier.B2B.HotelBeds" value="false" />
    <add key="SearchSupplier.B2B.ExpediaTAAP" value="true" />
    <add key="SearchSupplier.B2B.EANRapid" value="true" />

    <add key="SearchSupplier.B2C.Expedia" value="true" />
    <add key="SearchSupplier.B2C.Tourplan" value="false" />
    <add key="SearchSupplier.B2C.JacTravel" value="false" />
    <add key="SearchSupplier.B2C.HotelBeds" value="false" />
    <add key="SearchSupplier.B2C.ExpediaTAAP" value="false" />
    <add key="SearchSupplier.B2C.EANRapid" value="true" />
    <!-- END: Hotel usage -->

    <!-- START: Package discount usage -->
    <add key="EnablePackageDiscount" value="true" />
    <add key="TestInstantDisc" value="true" />
    <add key="MinimumMargin" value="50" />
    <add key="MarginPricingType" value="FIX" />
    <!-- END: Package discount usage -->

    <!-- START: Car Rental usage -->
    <add key="CarRentalAPIUserId" value="toby" />
    <add key="CarRentalAPIPassword" value="123456" />
    <!-- END: Car Rental usage -->

    <!-- START: Affiliate Program Usage -->
    <add key="AffiliateFlightPIC" value="chtan@alphareds.net" />
    <add key="AffiliateHotelPIC" value="chtan@alphareds.net" />
    <!-- END: Affiliate Program Usage -->

    <!--- START: Payment Usage -->
    <add key="TCPaymentPercentage" value="20" />
    <add key="FlightTCPaymentPercentage" value="5" />
    <add key="HotelTCPaymentPercentage" value="20" />
    <add key="PackageTCPaymentPercentage" value="20" />

    <add key="AgentTCPaymentPercentage" value="100" />
    <!-- END: Payment Usage -->

    <add key="InternalAppWebAPIUrl" value="http://localhost:60886/" />

    <!-- START: Social Account Login Key -->
    <!-- Staging -->
    <add key="FB.AppId" value="2041951736086831" />
    <add key="FB.AppSecret" value="5d838722e5ff1c5de1b5cd9f03c619e4" />

    <!-- Production -->
    <!--<add key="FB.AppId" value="358501941298542" />
    <add key="FB.AppSecret" value="ae3e408e1b1c2c5d56799a5517cedfdc" />-->
    <!-- END: Social Account Login Key -->
  </appSettings>

  <system.web>
    <sessionState timeout="20" compressionEnabled="true" regenerateExpiredSessionId="true" mode="InProc" sqlConnectionString="User ID=sa;Password=msms123;Data Source=(local)\SQLEXPRESS"></sessionState>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxQueryStringLength="6144" maxRequestLength="5242880" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="20" />
    </authentication>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear />
        <!--<add name="CustomRoleProvider" type="General.Core.CustomPrincipal, CustomMembershipEF, Version=1.0.0.0, Culture=neutral"
     connectionStringName="UsersContext"
     enablePasswordRetrieval="false" enablePasswordReset="true"
     requiresQuestionAndAnswer="false" writeExceptionsToEventLog="false" />-->
        <add name="CustomRoleProvider" type="Mayflower.General.CustomRoleProvider, Mayflower,Version=1.0.0.0, Culture=neutral" connectionStringName="CorpBookingEntities" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" writeExceptionsToEventLog="false" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--<sessionState timeout="1"></sessionState>-->
  </system.web>

  <system.webServer>
    <!--<rewrite>
      <rules>
        <clear />
        <rule name="Redirect *.mayflower.com.my to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^.*mayflower\.com.my$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->

    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <security>
      <requestFiltering>
        <requestLimits maxQueryString="6144" maxUrl="10240" />
      </requestFiltering>
    </security>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.103.0" newVersion="1.0.103.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>

    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		     to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		 -->
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		     to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding> -->
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <!--Flight Binding START-->
        <binding name="BasicHttpBinding_IESBComWeb" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="65536000" maxReceivedMessageSize="65536000" />
        <binding name="BasicHttpBinding_Iwebservices" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_IAirAsiaManager" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_IGATEAPIService" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="65536000" maxReceivedMessageSize="65536000" />
        <binding name="BasicHttpBinding_IFlightManager" sendTimeout="00:02:00" allowCookies="true" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IBritishAirwaysManager" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <!--Flight Binding END-->

        <!--Hotel Binding START-->
        <binding name="BasicHttpBinding_IESBHotelManager" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_IHotelManager" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_IHotelManagerTP" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_IHotelManagerJT" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_IHotelManagerHB" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <!--Hotel Binding END-->

        <!--Insurance Binding START-->
        <binding name="BasicHttpBinding_IInsuranceManager" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <!--Insurance Binding END-->
        
        <!--car rental Binding START-->
        <binding name="BasicHttpBinding_ICarRentalManager" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <!--car rental Binding END-->
        
        <!--PDF Binding START-->
        <binding name="baicHttpPDFService" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
        </binding>
        <!--PDF Binding END-->
      </basicHttpBinding>
    </bindings>

    <client>
      <!-- Staging Flight START -->
      <endpoint address="http://52.220.18.122/ESBComTool/ESBComWeb.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IESBComWeb" contract="CTWS.IESBComWeb" name="BasicHttpBindingk_IESBComWeb" />
      <endpoint address="http://52.220.18.122/SabreWebServicesDevelopment/webservices.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwebservices" contract="SWS.Iwebservices" name="BasicHttpBinding_Iwebservices" />
      <endpoint address="http://52.220.18.122/AirAsiaConnector_new/AirAsiaManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAirAsiaManager" contract="AAWS.IAirAsiaManager" name="BasicHttpBinding_IAirAsiaManager" />
      <endpoint address="http://52.220.18.122/GATEAPI/GATEAPIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGATEAPIService" contract="GATE.IGATEAPIService" name="BasicHttpBinding_IGATEAPIService" />
      <endpoint address="http://13.229.31.187/FireflyFlight/FlightManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlightManager" contract="FYWS.IFlightManager" name="BasicHttpBinding_IFlightManager" />
      <endpoint address="http://52.220.18.122/BritishAirways/BritishAirwaysManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBritishAirwaysManager" contract="BRAW.IBritishAirwaysManager" name="BasicHttpBinding_IBritishAirwaysManager" />
      <!-- Staging Flight END -->

      <!-- Local Flight START -->
      <!--<endpoint address="http://localhost:2067/ESBComWeb.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IESBComWeb" contract="CTWS.IESBComWeb" name="BasicHttpBinding_IESBComWeb" />-->
      <!--<endpoint address="http://localhost:61647/webservices.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwebservices" contract="SWS.Iwebservices" name="BasicHttpBinding_Iwebservices" />-->
      <!-- Local Flight END -->

      <!-- Production Flight START -->
      <!--<endpoint address="http://172.16.20.97/ESBComTool/ESBComWeb.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IESBComWeb" contract="CTWS.IESBComWeb" name="BasicHttpBinding_IESBComWeb" />
      <endpoint address="http://172.16.20.184/GATEAPI_Prod/GATEAPIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGATEAPIService" contract="GATE.IGATEAPIService" name="BasicHttpBinding_IGATEAPIService" />
      <endpoint address="http://172.16.20.97/SabreWebServices/webservices.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwebservices" contract="SWS.Iwebservices" name="BasicHttpBinding_Iwebservices" />
      <endpoint address="http://172.16.20.184/AirAsiaConnector_Prod/AirAsiaManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAirAsiaManager" contract="AAWS.IAirAsiaManager" name="BasicHttpBinding_IAirAsiaManager" />
      <endpoint address="http://13.229.31.187/FireflyFlight/FlightManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlightManager" contract="FYWS.IFlightManager" name="BasicHttpBinding_IFlightManager" />
      <endpoint address="http://13.229.31.187/BritishAirways/BritishAirwaysManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBritishAirwaysManager" contract="BRAW.IBritishAirwaysManager" name="BasicHttpBinding_IBritishAirwaysManager" />-->
      <!-- Production Flight END -->

      <!-- Hotel START -->
      <endpoint address="http://52.220.18.122/ESBHotelComTool/ESBHotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IESBHotelManager" contract="ESBHotel.IESBHotelManager" name="BasicHttpBinding_IESBHotelManager" />
      <endpoint address="http://52.220.18.122/ExpediaHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="ExpediaHotels.IHotelManager" name="BasicHttpBinding_IHotelManager" />
      <endpoint address="http://52.220.18.122/TourplanHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="TPWS.IHotelManager" name="BasicHttpBinding_IHotelManagerTP" />
      <endpoint address="http://52.220.18.122/JacTravelHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="JTWS.IHotelManager" name="BasicHttpBinding_IHotelManagerJT" />
      <endpoint address="http://52.220.18.122/HotelbedsHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="HBWS.IHotelManager" name="BasicHttpBinding_IHotelManagerHB" />
      <endpoint address="http://52.220.18.122/ExpediaTAAPHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="ExpediaTAAP.IHotelManager" name="BasicHttpBinding_IHotelManager" />
      <endpoint address="http://52.220.18.122/EANRapidHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="RapidServices.IHotelManager" name="BasicHttpBinding_IHotelManager" />

      <!-- Production Hotel START -->
      <!--<endpoint address="http://13.228.90.186/ESBHotelComTool/ESBHotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IESBHotelManager" contract="ESBHotel.IESBHotelManager" name="BasicHttpBinding_IESBHotelManager" />
      <endpoint address="http://13.228.90.186/ExpediaHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="ExpediaHotels.IHotelManager" name="BasicHttpBinding_IHotelManager" />
      <endpoint address="http://13.228.90.186/TourplanHotels_Prod/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="TPWS.IHotelManager" name="BasicHttpBinding_IHotelManagerTP" />
      <endpoint address="http://13.228.90.186/JacTravelHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="JTWS.IHotelManager" name="BasicHttpBinding_IHotelManagerJT" />
      <endpoint address="http://13.228.90.186/HotelbedsHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="HBWS.IHotelManager" name="BasicHttpBinding_IHotelManagerHB" />
      <endpoint address="http://13.228.90.186/ExpediaTAAPHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="ExpediaTAAP.IHotelManager" name="BasicHttpBinding_IHotelManager" />-->
      <!-- Production Hotel END -->

      <!-- Car Rental START -->
      <endpoint address="http://52.220.18.122/MayflowerCarRentalAPI/CarRentalManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICarRentalManager" contract="CRWS.ICarRentalManager" name="BasicHttpBinding_ICarRentalManager" />
      <!-- Car Rental END -->

      <!-- PDF START -->
      <endpoint address="http://52.220.18.122/PDFWebServices/WebServices.svc" binding="basicHttpBinding" bindingConfiguration="baicHttpPDFService" contract="PDFEngine.IWebServices" name="baicHttpPDFService" />
      <!--PDF END-->

      <!-- Insurance START -->
      <endpoint address="http://52.220.18.122/ACETravel/InsuranceManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInsuranceManager" contract="ACEIns.IInsuranceManager" name="BasicHttpBinding_IInsuranceManager" />
      <!-- Insurance END -->
    </client>
  </system.serviceModel>

  <dotNetOpenAuth>
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
		          <add endpoint="https://www.google.com/accounts/o8/ud" />
	       </trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
					     with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
  </dotNetOpenAuth>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
		     which is necessary for OpenID urls with unicode characters in the domain/host name.
		     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>