<div class="s2_ib_inner">
    <div class="fillter_tags Bottom_blue_bg">AirAsia X</div>
    <div class="fillter_tags Bottom_green_bg">Departure 00:00 - 12:30 X</div>
    <div class="fillter_tags Bottom_yellow_bg">Price < MYR3500 X</div>
    <div class="clear"></div>
</div>
