<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="MayFlower" connectionString="metadata=res://*/Database.Mayflower.csdl|res://*/Database.Mayflower.ssdl|res://*/Database.Mayflower.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=MayFlowerStaging;user id=sa;password=msms123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--Add your custom key below here-->
    <add key="PageSize" value="10" />
    <add key="FlightListPageSize" value="5" />
    <add key="smtpServer" value="172.16.13.14" />
    <add key="smtpUserName" value="" />
    <add key="smtpPassword" value="" />
    <add key="enableSsl" value="false" />
    <add key="smtpPort" value="25" />
    <add key="disableSendMail" value="true" />
    <add key="UseEmailQueue" value="false" />
    <!-- START: MODULE ENABLE/DISABLE -->
    <add key="EnableCMS" value="false" />
    <add key="EnableHotelCrossSales" value="true" />
    <!-- END: MODULE ENABLE/DISABLE -->
    <!--Testing purpose-->
    <add key="fromEmailAddress" value="noreply@mayflower-group.com" />
    <add key="toAdminEmailAddress" value="winstonyap@alphareds.com" />
    <add key="HostURL" value="http://localhost:55197" />
    <add key="sabreSignatureKey" value="123456" />
    <add key="TestFareChanged" value="false" />
    <add key="DayAdvance" value="2" />
    <add key="ShowChild" value="true" />
    <add key="ShowInfant" value="true" />
    <add key="AdminEmail" value="ytchin@alphareds.net" />
    <add key="TokenValidateHour" value="24" />
    <add key="ShowSubmitCompanyPayment" value="true" />
    <add key="ShowSelectPaymentMethod" value="true" />
    <add key="FixConvenienceFee" value="false" />
    <add key="TawkToAccount" value="https://embed.tawk.to/57b9a5b552bbe76938cfe4a1/default" />
    <add key="useFc" value="true" />
    <!-- KC acc -->
    <add key="IsSabreLive" value="false" />
    <!--START: Payment Gateway iPay -->
    <add key="iPay88AppId" value="2" />
    <add key="iPay88CCAuthCapture" value="true" />
    <add key="iPay88POSTURL" value="http://52.220.18.122/iPay88/iPay88_requestpayment.ashx" />
    <add key="iPay88CapturePaymentURL" value="http://52.220.18.122/iPay88/iPay88_capturepayment.ashx " />
    <add key="iPay88VoidPaymentURL" value="http://52.220.18.122/iPay88/iPay88_voidpayment.ashx " />
    <!--<add key="iPay88POSTURL" value="https://pay.mayflower.com.my/iPay88_requestpayment.ashx" />-->
    <add key="iPay88Testing" value="true" />
    <!--END: Payment Gateway iPay -->
    <add key="UseCustomJQueryValidation" value="false" />
    <add key="UseDumpResultList" value="false" />
    <add key="CloneDumpResultList" value="false" />
    <add key="PDFEngineAccount" value="mayflower" />
    <add key="PDFEnginePassword" value="mayflower" />
    <add key="ShowVerifyData" value="true" />
    <add key="ExpiryMinuteBooking" value="30" />
    <add key="MayflowerRetailEmail" value="" />
    <add key="RequireHumanInterventionEmailStaging" value="yennien.tay@mayflower-group.com;davidlee@alphareds.com;kevinkuan@alphareds.com;kccheah@alphareds.com;chtan@alphareds.net" />
    <add key="RequireHumanInterventionEmailLive" value="yennien.tay@mayflower-group.com;davidlee@alphareds.com;kevinkuan@alphareds.com;kccheah@alphareds.com;chtan@alphareds.net" />
    <add key="EnableGoogleAnalytics" value="false" />
    <add key="ForStaging" value="true" />
    <add key="AlphaReds.CMSUrl" value="http://47.88.153.2:81" />
    <!--<add key="AlphaReds.CMSUrl" value="http://localcms.mayflower.com/" />-->
    <!--START: Sabre Value -->
    <add key="SabreMaxStop" value="10" />
    <!--END: Sabre Value -->
    <!--START: Price Yield Default Value -->
    <add key="PriceYieldActualYield" value="3" />
    <add key="PriceYieldActualYieldPricingType" value="PCT" />
    <add key="PriceYieldMarkUpDiscountPricing" value="3" />
    <add key="PriceYieldMarkUpPricingType" value="PCT" />
    <add key="PriceYieldPricingTickiting" value="E1FD" />
    <add key="PriceYieldQueueNo" value="400" />
    <add key="PriceYieldTicketingQueueNo" value="501" />
    <!--END: Price Yield Default Value -->
    <!---START: Flight usage -->
    <add key="FlightRepaymentReadFromDB" value="false" />
    <!---END: Flight usage -->
    <!-- START : GATE Value -->
    <!-- START: GATE CHINA Login Info -->
    <add key="GateFareTypeChina" value="Chn" />
    <add key="GateUserIdChina" value="MYMAYFLW00001Q" />
    <add key="GatePwdChina" value="rg0b!frz" />
    <!-- END: GATE CHINA Login Info -->
    <!-- START: GATE INT Login Info -->
    <add key="GateFareTypeInt" value="INT" />
    <add key="GateUserIdInt" value="MYMAYFLW00002Y" />
    <add key="GatePwdInt" value="w!xgbi2x" />
    <!-- END: GATE INT Login Info -->
    <!-- START: GATE Payment Option -->
    <add key="GatePaymentPaymode" value="C_LIMIT" />
    <add key="GatePaymentType" value="CREDIT" />
    <!-- END: GATE Payment Option -->
    <!-- END : GATE Value -->
    <!---START: Hotel usage -->
    <add key="RecordsPerPage" value="10" />
    <add key="PartnerID" value="4138CCFBA4DC4B91B3BD527D482BE9FB" />
    <!---Trip Advisor -->
    <add key="GoogleMapID" value="AIzaSyD_6VdhU77Xsy_UJ8fLxivc2Pn9e8hQnUc" />
    <!---Google map api key -->
    <!---END: Hotel usage -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Flight Binding START-->
        <binding name="BasicHttpBinding_IESBComWeb" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="65536000" maxReceivedMessageSize="65536000" />
        <binding name="BasicHttpBinding_Iwebservices" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_IAirAsiaManager" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_IGATEAPIService" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="65536000" maxReceivedMessageSize="65536000" />
        <binding name="BasicHttpBinding_IFlightManager" sendTimeout="00:02:00" allowCookies="true" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IBritishAirwaysManager" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <!--Flight Binding END-->

        <!--Hotel Binding START-->
        <binding name="BasicHttpBinding_IESBHotelManager" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_IHotelManager" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_IHotelManagerTP" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_IHotelManagerJT" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_IHotelManagerHB" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <!--Hotel Binding END-->

        <!--Insurance Binding START-->
        <binding name="BasicHttpBinding_IInsuranceManager" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
        <!--Insurance Binding END-->

        <!--PDF Binding START-->
        <binding name="baicHttpPDFService" sendTimeout="00:02:00" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
        </binding>
        <!--PDF Binding END-->
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- Staging Flight START -->
      <endpoint address="http://52.220.18.122/ESBComTool/ESBComWeb.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IESBComWeb" contract="CTWS.IESBComWeb" name="BasicHttpBindingk_IESBComWeb" />
      <endpoint address="http://52.220.18.122/SabreWebServicesDevelopment/webservices.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwebservices" contract="SWS.Iwebservices" name="BasicHttpBinding_Iwebservices" />
      <endpoint address="http://52.220.18.122/AirAsiaConnector_new/AirAsiaManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAirAsiaManager" contract="AAWS.IAirAsiaManager" name="BasicHttpBinding_IAirAsiaManager" />
      <endpoint address="http://52.220.18.122/GATEAPI/GATEAPIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGATEAPIService" contract="GATE.IGATEAPIService" name="BasicHttpBinding_IGATEAPIService" />
      <endpoint address="http://13.229.31.187/FireflyFlight/FlightManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlightManager" contract="FYWS.IFlightManager" name="BasicHttpBinding_IFlightManager" />
      <endpoint address="http://52.220.18.122/BritishAirways/BritishAirwaysManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBritishAirwaysManager" contract="BRAW.IBritishAirwaysManager" name="BasicHttpBinding_IBritishAirwaysManager" />
      <!-- Staging Flight END -->

      <!-- Local Flight START -->
      <!--<endpoint address="http://localhost:2067/ESBComWeb.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IESBComWeb" contract="CTWS.IESBComWeb" name="BasicHttpBinding_IESBComWeb" />-->
      <!--<endpoint address="http://localhost:61647/webservices.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwebservices" contract="SWS.Iwebservices" name="BasicHttpBinding_Iwebservices" />-->
      <!-- Local Flight END -->

      <!-- Production Flight START -->
      <!--<endpoint address="http://172.16.20.97/ESBComTool/ESBComWeb.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IESBComWeb" contract="CTWS.IESBComWeb" name="BasicHttpBinding_IESBComWeb" />
      <endpoint address="http://172.16.20.184/GATEAPI_Prod/GATEAPIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGATEAPIService" contract="GATE.IGATEAPIService" name="BasicHttpBinding_IGATEAPIService" />
      <endpoint address="http://172.16.20.97/SabreWebServices/webservices.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iwebservices" contract="SWS.Iwebservices" name="BasicHttpBinding_Iwebservices" />
      <endpoint address="http://172.16.20.184/AirAsiaConnector_Prod/AirAsiaManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAirAsiaManager" contract="AAWS.IAirAsiaManager" name="BasicHttpBinding_IAirAsiaManager" />
      <endpoint address="http://13.229.31.187/FireflyFlight/FlightManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlightManager" contract="FYWS.IFlightManager" name="BasicHttpBinding_IFlightManager" />
      <endpoint address="http://13.229.31.187/BritishAirways/BritishAirwaysManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBritishAirwaysManager" contract="BRAW.IBritishAirwaysManager" name="BasicHttpBinding_IBritishAirwaysManager" />-->
      <!-- Production Flight END -->

      <!-- Hotel START -->
      <endpoint address="http://52.220.18.122/ESBHotelComTool/ESBHotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IESBHotelManager" contract="ESBHotel.IESBHotelManager" name="BasicHttpBinding_IESBHotelManager" />
      <endpoint address="http://52.220.18.122/ExpediaHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="ExpediaHotels.IHotelManager" name="BasicHttpBinding_IHotelManager" />
      <endpoint address="http://52.220.18.122/TourplanHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="TPWS.IHotelManager" name="BasicHttpBinding_IHotelManagerTP" />
      <endpoint address="http://52.220.18.122/JacTravelHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="JTWS.IHotelManager" name="BasicHttpBinding_IHotelManagerJT" />
      <endpoint address="http://52.220.18.122/HotelbedsHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="HBWS.IHotelManager" name="BasicHttpBinding_IHotelManagerHB" />
      <endpoint address="http://52.220.18.122/ExpediaTAAPHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="ExpediaTAAP.IHotelManager" name="BasicHttpBinding_IHotelManager" />
      <endpoint address="http://52.220.18.122/EANRapidHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="RapidServices.IHotelManager" name="BasicHttpBinding_IHotelManager" />

      <!-- Production Hotel START -->
      <!--<endpoint address="http://13.228.90.186/ESBHotelComTool/ESBHotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IESBHotelManager" contract="ESBHotel.IESBHotelManager" name="BasicHttpBinding_IESBHotelManager" />
      <endpoint address="http://13.228.90.186/ExpediaHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="ExpediaHotels.IHotelManager" name="BasicHttpBinding_IHotelManager" />
      <endpoint address="http://13.228.90.186/TourplanHotels_Prod/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="TPWS.IHotelManager" name="BasicHttpBinding_IHotelManagerTP" />
      <endpoint address="http://13.228.90.186/JacTravelHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="JTWS.IHotelManager" name="BasicHttpBinding_IHotelManagerJT" />
      <endpoint address="http://13.228.90.186/HotelbedsHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="HBWS.IHotelManager" name="BasicHttpBinding_IHotelManagerHB" />
      <endpoint address="http://13.228.90.186/ExpediaTAAPHotels/HotelManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelManager" contract="ExpediaTAAP.IHotelManager" name="BasicHttpBinding_IHotelManager" />-->
      <!-- Production Hotel END -->

      <!-- Car Rental START -->
      <endpoint address="http://52.220.18.122/MayflowerCarRentalAPI/CarRentalManager.svc" binding="basicHttpBinding" contract="CRWS.ICarRentalManager" name="BasicHttpBinding_ICarRentalManager" />
      <!-- Car Rental END -->

      <!-- PDF START -->
      <endpoint address="http://52.220.18.122/PDFWebServices/WebServices.svc" binding="basicHttpBinding" bindingConfiguration="baicHttpPDFService" contract="PDFEngine.IWebServices" name="baicHttpPDFService" />
      <!--PDF END-->

      <!-- Insurance START -->
      <endpoint address="http://52.220.18.122/ACETravel/InsuranceManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInsuranceManager" contract="ACEIns.IInsuranceManager" name="BasicHttpBinding_IInsuranceManager" />
      <!-- Insurance END -->
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>