@{
    ViewBag.Title = "Cancellation Policies";
    ViewBag.RenderRedLine = true;
}

@section style{
    <style type="text/css">
    #page_1 {
        /*Alvinloo 8/12/2016 start*/
        overflow: hidden;
        margin-left: 40px;
        /*margin: 30px 10px 40px 120px;*/
        padding: 0px;
        border: none;
        width: 95%;
    }

    #page_2 {
        overflow: hidden;
        margin: 99px 0px 255px 96px;
        padding: 0px;
        border: none;
        width: 698px;
    }

    .ft0 {
        max-width: 80%;
        font: bold 15px 'Calibri';
        line-height: 18px;
    }
    /*Alvinloo 8/12/2016 end*/
    .ft1 {
        font: 15px 'Calibri';
        line-height: 18px;
    }

    .ft2 {
        font: 15px 'Calibri';
        line-height: 18px;
    }

    .ft3 {
        font: 15px 'Calibri';
        margin-left: 4px;
        line-height: 18px;
    }

    .p0 {
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .p1 {
        text-align: justify;
        padding-right: 99px;
        margin-top: 12px;
        margin-bottom: 0px;
    }

    .p2 {
        text-align: left;
        padding-right: 97px;
        margin-top: 42px;
        margin-bottom: 0px;
    }

    .p3 {
        text-align: left;
        padding-right: 102px;
        margin-top: 44px;
        margin-bottom: 0px;
    }

    .p4 {
        text-align: left;
        padding-right: 98px;
        margin-top: 46px;
        margin-bottom: 0px;
    }

    .p5 {
        text-align: left;
        margin-top: 13px;
        margin-bottom: 0px;
    }

    .p6 {
        text-align: left;
        margin-top: 12px;
        margin-bottom: 0px;
    }

    .p7 {
        text-align: left;
        padding-right: 128px;
        margin-top: 12px;
        margin-bottom: 0px;
    }

    .p8 {
        text-align: left;
        padding-right: 118px;
        margin-top: 12px;
        margin-bottom: 0px;
    }

    .p9 {
        text-align: left;
        margin-top: 14px;
        margin-bottom: 0px;
    }

    .p10 {
        text-align: left;
        padding-right: 140px;
        margin-top: 12px;
        margin-bottom: 0px;
    }

    .p11 {
        text-align: left;
        padding-right: 97px;
        margin-top: 43px;
        margin-bottom: 0px;
    }

    .p12 {
        text-align: left;
        padding-right: 136px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .p13 {
        text-align: left;
        margin-top: 44px;
        margin-bottom: 0px;
    }
</style>
}

<div class="document container-wrapper">
    <div id="page_1">


    <p class="p0 ft0">CANCELLATION POLICIES</p>
    <p class="p1 ft1">Cancellation or changes to reservations must be made directly with Mayflower Holidays during office hours (Monday to Friday, <nobr>0900-1800</nobr> hours).</p>
    <p class="p1 ft1">In the event that you make any amendments to your booking (including, but not limited to, cancellations, refunds and amendments), Mayflower Holidays Sdn. Bhd. reserves the absolute right to charge you an administration fee of RM100 per person to cover the administration costs incurred by Mayflower Holidays Sdn Bhd.</p>
    <p class="p1 ft1">These charges do not include any charges imposed directly by the airline/hotel/travel products owner or any fare difference advised by the airline/hotel/travel products owner at the time of making the change. In the event of Cancellation, Credit card fees and booking fees incurred are non- refundable (including, but not limited to those incurring by you or the airline/ hotel/ travel products owner).</p>
    <p class="p1 ft1">Please note that for flight booking, airlines generally do not allowed changes of name on any flight bookings.</p>
</div>
</div>